:root{
  --background: #F9F7FD; 
  --Red:#F13D31;
  --Black:#0B0C0C;
  --White: #FFF;
  --deep-blue:#0F042F;
}
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.body{
  width: 100%; 
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}
.main{
  /* margin: 0 ; */
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
  color: #101828;
}
.NavContainer{
  width: 100%;
  background-color:  var(--White);
  /* border-bottom: 1px solid #EAECF0; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  margin-top: 4.7rem;
}
.Navbar{
  width: 100%;
  display: flex;
  margin: 0 200px;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  position: relative;
}
.Navbar a{
  font-size: 16px;
}
.navbarbrand{
color: var(--Red) !important;
}
.Navbar img{
  width: 51px;
  height: 51px;
}
.navMenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 28px;
  margin-bottom: 0 !important;
  transition: ease 1.5s;
}
.Navbar a{ 
  text-decoration: none;
  font: 16px;
  font-weight: 500;
  color: var(--Black);
  transition:  0.3s;
}
.Navbar a:hover{
  color: #F13D31;
}
.topNavGroupbtns{
  display:flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 28px;
  margin: 0 0 0 50px;
}
.topNavGroupbtns button{
  border-radius: 4px;
  padding: 9px 17px 8px 16px;
  justify-content: center;
  align-items: center;  
  transition: ease 0.3s;
  border: 1px solid #F13D31;
  background-color: transparent;
}
.navbarToggler{
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
}
@media(max-width:800px){
  .body{
    width: 100%;
    overflow: hidden;
  }
  .NavContainer{
    width: 100%;
  }
  .Navbar{
    width: 100%;
    justify-content: space-between;
    margin: 0;
  }
    .Navbar img{
      width: 31px;
      height: 31px;
    }
  .navbarToggler{
    display: block;
    font-size: 34px;
  }
  .navMenu{
    position: absolute;
    width: 100%;
    flex-direction: column;
    left: 0;
    top: 65px;
    padding: 20px 0;
    /* background-color: white; */
    /* background: rgba(255, 255, 255, 0.9); */
    background-color: rgba(255, 255, 255, 0.973);
    gap: 20px;
    display: none;
    text-align: center;
    line-height: 35px;
  }
  .active{
    display: block;
  }
  .topNavGroupbtns{
    flex-direction: column;
    margin: 0;
    gap: 5px;

  }
  .topNavGroupbtns button{
    
    padding: 0 11px 0 10px;
    justify-content: center;
    align-items: center;  
    transition: ease 0.3s;
    border: 1px solid #F13D31;
    background-color: transparent;
    
  }
  
}
